@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  @apply font-karla;
}

@theme {
  --font-karla: "Karla", sans-serif;
  --animate-slideFadeIn: slideFadeIn 0.5s ease-in-out forwards;

  @keyframes slideFadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  * {
    @apply box-border
  }

  button {
    @apply cursor-pointer
  }
}